/* Background */
.forgot-bg {
    min-height: auto;
    width: 100%;
    background: url('/bg1.jpg') center/cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Center Wrapper */
/* Center wrapper but remove navbar space */
.forgot-wrapper {
    min-height: calc(100vh - 100px);
    /* adjust based on your navbar height */
    margin-top: -30px;
    /* pulls card slightly upward */
    display: flex;
    align-items: center;
}

/* Card styling */
.forgot-card {
    width: 420px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Title */
.forgot-title {
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

/* Label */
.forgot-label {
    color: #e5e5e5;
    font-weight: 500;
}

/* Input */
.forgot-input {
    height: 46px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #fff;
}

.forgot-input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

/* Button */
.forgot-btn {
    background: #1A3D64;
    border: none;
    padding: 12px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.2s;
}

.forgot-btn:hover {
    background-color: #0a7099;
    opacity: 0.9;
}