.verifyotp-bg {
  min-height: 100vh;
  background: url('/bg1.jpg') center/cover no-repeat fixed;
}

.verifyotp-card {
  width: 450px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.25);
  box-shadow: 0 10px 35px rgba(0,0,0,0.3);
  color: #fff;
}

.verifyotp-title {
  color: #fff;
  font-weight: 700;
}

.verifyotp-input {
  height: 45px;
  border-radius: 10px;
  background: rgba(255,255,255,0.18);
  border: 1px solid rgba(255,255,255,0.35);
  color: #132440 !important;
}

.verifyotp-input::placeholder {
  color: rgba(255,255,255,0.7);
}

.verifyotp-box {
  width: 55px;
  height: 55px;
  font-size: 26px;
  border-radius: 12px;
  background: rgba(255,255,255,0.18);
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
  font-weight: 600;
}

.verifyotp-box::placeholder {
  color: rgba(255,255,255,0.7);
}

.verifyotp-btn {
  background: #0b2c69;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

.verifyotp-btn:hover {
  background: #11408f;
}
