.feedback-container {
  display: flex;
  justify-content: center;
  padding: 106px 20px;
  background: linear-gradient(to bottom, #0a2a4a, #00172b);
  min-width: auto;
}

.feedback-card {
  width: 450px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);
}

.feedback-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.feedback-card select,
.feedback-card textarea {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.feedback-btn {
  width: 100%;
  margin-top: 20px;
  background-color: #0a7099;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.feedback-btn:hover {
  background-color: #1A3D64;
}

.status-text {
  text-align: center;
  margin-top: 10px;
  color: #028d45;
}

/* STAR RATING STYLES */
.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 35px;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: #ffb800; /* gold color */
}

/* Status message */
.status-text {
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  color: #028d45;
}

