.slider-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.slider-wrapper {
    display: flex;
}

.slide-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.slide-box {
    width: 32%;
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
}

.slide-image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}