.contact-container {
    display: flex;
    justify-content: center;
    padding:  60px 20px;
    background: linear-gradient(to bottom, #0a2a4a, #00172b);
    min-height: auto;
}

.contact-card {
    width: 100%;
    max-width: 650px;
    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-card h2 {
    text-align: center;
    font-weight: 700;
    color: #0a7099;
}

.sub-text {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 25px;
    color: #444;
}

.contact-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-row input {
    flex: 1;
}

input,
textarea {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
    outline: none;
}

textarea {
    margin-top: 10px;
}

.contact-btn {
    width: 100%;
    background: #0a7099;
    color: #fff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #1A3D64;
}

.status-text {
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
    color: green;
}

/* Mobile responsive */
@media (max-width: 600px) {
    .contact-row {
        flex-direction: column;
    }
}